html {
    overflow-x: hidden;
    box-sizing: border-box;
}

/* bar scroll */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.041);
}

body::-webkit-scrollbar-thumb {
    height: 10px;
    background-color: rgb(81, 81, 81);
    border-radius: 20px;
    border: 3px solid rgba(105, 101, 101, 0);
}

/* body content */
#body-content {
    position: relative;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: black;
    box-sizing: border-box;

}


/* cover */
#cover {
    position: fixed;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.item {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

#item1 {
    top: 50px;
    left: 60px;
    height: 200px;
    width: 200px;
    border-radius: 45px;
    background-color: yellow;
    transform: rotate(40deg);
}

#item2,
#item3 {
    top: 80%;
    height: 150px;
    width: 150px;
}

#item2 {
    left: 50%;
    background-color: aqua;
}

#item3 {
    right: 50px;
    left: 1%;
}

#item4 {
    background-color: #ff0000;
    top: 300px;
    right: 200px;
    height: 150px;
    width: 150px;
    border-radius: 12px;
    transform: rotate(50deg);
}

#item5 {
    top: 100px;
    right: 30%;
    height: 120px;
    width: 120px;
}

#item6 {
    bottom: 40%;
    right: 60%;
    height: 130px;
    width: 130px;
}

/* btn menu */
#btn-menu{
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 10;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    top: 10px;
    cursor: pointer;
    transition: .5s;
    opacity: 0;
}



#btn-menu img{
    height: 40px;
    width: 40px;
}


/* button scroll */

.btn-scroll {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: .5s;
    z-index: 3;
    margin-top: 10%;
}

.btn-scroll img {
    height: 40px;
    width: 40px;
}

.btn-scroll-left {
    left: 150px;
}


.btn-scroll-right {
    right: 40px;
}



.component-scroll:hover .btn-scroll {
    opacity: 1;

}

#tt {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/* btn scroll search */

#btn-scroll-search-left {
    opacity: 1;
}


#btn-scroll-search-right {
    background-color: red;
    opacity: 1;

}

/* container */
#container {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    position: absolute;
    background-color: rgba(3, 3, 3, 0.817);
    backdrop-filter: blur(18px);
    display: flex;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;

}

/* bar */
#bar {
    width: 110px;
    color: #fff;
    height: 100vh;
    top: 0;
    bottom: 0;
    margin-left: 0;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.522);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

#bar img {
    height: 40px;
    width: 40px;
}

.btns-bar {
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.btns-bar:hover {
    background-color: #23232369;
}


#content-btn-search {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 2s;
}


#btn-search {
    background-color: #fff;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}


#component-result-search {
    position: fixed;
    height: 70vh;
    width: 80vw;
    background-color: #000000e9;
    top: 28%;
    left: 150px;
    border-radius: 10px;
    border: 1px solid rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result-search-scroll {
    height: 80%;
    width: 90%;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: hidden;

}


#item-movie-results-search {
    height: 320px;
    width: 220px;
    border-radius: 15px;
    transition: 0.7s;
    cursor: pointer
}

#item-movie-results-search:hover {
    height: 350px;
    width: 250px;
}

#item-movie-results-search img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#btn-search:hover {
    background-color: rgb(189, 189, 189);
}

#btn-search img {
    height: 35px;
    width: 55px;
}

.btn-input-search {
    width: 0;
    border-radius: 0 10px 10px 0;
    transition: width 2s;
}

#btn-input-search-active {
    height: 50px;
    background-color: #fff;
    width: 300px;
    top: 100px;
    left: 95px;
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 1s;
    cursor: pointer;

}

#btn-close-input-search img {
    height: 28px;
    width: 28px;

}

#input-search {
    height: 96%;
    width: 85%;
    border: none;
    outline: none;
    font-size: 25px;
}


/* btn scroll results */
#buttons-results {
    display: flex;
    position: absolute;
    bottom: 20px;
    gap: 20px
}

.button-scroll-results {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 1px solid #cccc;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    opacity: 0;
}

#component-result-search:hover .button-scroll-results {
    opacity: 1;
}



#button-scroll-results img {
    height: 30px;
    width: 30px;
}

#btn-documentary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
}



#content {
    width: 100vw;
}

/* cover-highlights */
#cover-highlights {
    height: 90vh;
    width: 100%;
}


#cover-highlights img {
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    filter: grayscale(50%);
    filter: blur(2px);
    filter: brightness(1.2);
    filter: contrast(150%);
    filter: sepia(80%);
    filter: drop-shadow(3px 3px 5px black);

}

#border-backdrop-bottom {
    height: 100px;
    width: 100%;
    margin-top: -60px;
    background-color: #000000ef;
    z-index: 1;
    filter: blur(10px);
}



/* content-highlights */
#content-highlights {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.522);
    height: 90vh;
    width: 40%;
    margin-left: 110px;
    top: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 30px;
    padding-bottom: 13%;
    box-sizing: border-box;
    -webkit-box-shadow: 101px -42px 102px 28px rgba(0, 0, 0, 0.522);
    -moz-box-shadow: 101px -42px 102px 28px rgba(0, 0, 0, 0.522);
    box-shadow: 101px -52px 102px 48px rgba(0, 0, 0, 0.522)
}


/* content movies */
#container-movies {
    height: auto;
    min-height: 120vh;
    width: 100%;
    margin-top: -252px;
    z-index: 3;
    gap: 10px;

}

.title-content {
    color: #fff;
    margin-left: 10%;
    font-size: 35px;
    height: 50px;
    font-weight: bold;
}

.component-scroll {
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 0 92px 0 210px;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    gap: 30px;
    margin-bottom: 50px;
    height: 500px;
    position: relative;

}

.component-scroll::-webkit-scrollbar {
    display: none;
    opacity: 1;
    scrollbar-width: 0;
}



#popular-movies {
    height: 450px;
    padding-top: 10px;
    margin-top: -100;
}

/* item-movies */
.item-movies {
    height: 360px;
    min-width: 235px;
    z-index: 1;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: .6s;
    position: relative;
}

.item-movies:hover {
    height: 370px;
    min-width: 300px;
}

/* item  most about */
.item-movies-most-about {
    height: 58px;
    width: 100%;
    background-color: transparent;
    transition: 2s;
    z-index: -1;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(26, 26, 26);
    justify-content: space-between;
    background-color: rgb(24, 24, 24);
    border-top: 3px solid transparent;
    border-top-color: rgb(255, 255, 255)z;
    margin-top: 125%;
}

.item-movies img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: top;
    position: absolute;
    z-index: 2;
    object-position: bottom;
}


/* item movies result search */
#item-movies-search {
    height: 95%;
    width: 97px;
    max-width: none;
    box-sizing: border-box;
}

#item-img-movie-search img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.item-movies:hover #item-movies-most-about-result-search {
    margin-top: 100%;
    opacity: 1;

}

#content-result-not-found {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-result-not-found p {
    font-size: 22px;
}

.btn-info-movie {
    border: 1px solid rgb(247, 247, 247);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.btn-info-movie:hover {
    background-color: #ffffff27;
}

.assessment-content {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 50px;
    z-index: 1;

}

.assessment-content img {
    height: 20px;
    width: 20px;
    margin-left: -50px;
}

.most-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29px;
    box-sizing: border-box;
    transition: .3s;
}

.most-info:hover {
    color: rgb(139, 138, 144);
}

@media (max-width:1040px) {
    /* bar */
    #bar {
      margin-left: -120px;
      transition: .5s;
     
    }

    #btn-menu{
        opacity: 1;
    }
    .bar-active-mobile{
        margin-left: 0!important;
    }

    /* btn menu  */
    .menu-active{
        transform: rotate(90deg);
    }


    /* content hightlights */
    #content-highlights {
        margin-left: 0;
        width: 100%;
    }


    /* container movies */
    #container-movies{
        margin-top: -300px;    
    }
    
    .component-scroll {
        padding: 0 100px 0 30px;
        height: 330px ;
        gap:10px;
    }
    
    /* popular movies */
    #popular-movies{
        height: 350px;
    }

    /* item movies */
    .item-movies {
        height: 250px;
        min-width: 170px;
    }


    .item-movies:hover {
        height: 270px;
        min-width: 200px;
    }

    .item-movies-most-about{
        width: 100%;
        margin-top: 100%;
        background-color: rgb(2, 0, 23);
        padding: 0 5px;
        border: 1px solid #444444;
    }

    .item-movies:hover .item-movies-most-about{
        margin-top: 136%;
    }

    /* btn search  */
    #content-btn-search{
        transition: .1s;
    }

    /* content result mobile */
    #component-result-search {
        position: absolute;
        height: 60vh;
        width: 93vw;
        left: 20px;
    }
    
    #item-movie-results-search {
        height: 300px;
    }

    .button-scroll-results{
        opacity: 1;
    }     



    
    /* btn scroll mobile */
    .component-scroll:hover .btn-scroll {
        display: none;
    }
    
    /* btn information movie */
    .btn-info-movie{
        width: 100px;
        font-size: 70%;
    }
    
    
    .item-movies-most-about{
        transition: .6s;
    }
    

}